<div class="bg-gray-700/50 rounded-2xl cursor-pointer hover:bg-gray-600/50 transition duration-200">
  <div class="flex items-center py-2 px-5 password-entry">
    <span class="text-gray-400 font-semibold mr-2">{{ number }}.</span>
    <input type="checkbox" name="password-group" data-id="{{ item.id }}"
      class="mr-3 h-4 w-4 text-blue-500 bg-gray-600 border-gray-500 rounded focus:ring-blue-500 password-checkbox" />
    <span class="flex-grow text-white font-medium break-all">{{ item.site }}</span>
    <a href="{{ url_for('home.edit_password', password_id=item.id) }}"
      class="p-1.5 bg-gray-600 text-fold block hover:bg-gray-500 text-white rounded-xl text-sm transition duration-200 edit-btn">
      Edit
    </a>
  </div>
  <div class="hidden p-6 border-t border-gray-600 text-gray-200 details">
    <p>
      <strong>Username:</strong>
      <span id="username-field-{{ item.id }}" class="break-all">{{ item.login }}</span>
    </p>
    <p class="flex items-center gap-1">
      <strong>Password:</strong>
      <input type="password" class="border-none bg-transparent text-white px-2 py-1 rounded break-all"
        id="password-field-{{ item.id }}" value="{{ item.password }}" readonly />
      <button type="button" class="text-gray-400 hover:text-white toggle-password-btn"
        data-target="password-field-{{ item.id }}" tabindex="-1">
        👁
      </button>
    </p>

    <strong>URL:</strong>
    <a href="{{ item.url }}" class="text-blue-400 hover:underline break-all">{{ item.url }}</a>
    </p>
    <p><strong>Comments:</strong> <span class="break-words">{{ item.description }}</span></p>
  </div>
</div>

